.results-page{
    height: 300px;
}
.result-data{
    display: flex;
    flex-direction: column;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.pagination a{
    margin-left: 10px;
    cursor: pointer;
    border-left: 2px solid black ;

}

.results-page h2{
    text-align: center;
}
.results-page p{
    color: black;
}
.top-areas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

