.results-page{
    height: 400px;
    margin: 20px;
    padding: 12px;
}


.results-page h2,h1{
    text-align: center;
}
.results-page p{
    color: black;
}
.top-areas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

