ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
}

img {
  margin-top: -16px;
}

/* Main container */

.main-container {
  width: 700px;
  height: 480px;
  margin: 0 auto;
}
/* Añade una regla de estilo para el elemento que se desplaza */
.container-images ul {
    display: flex; /* Cambia el comportamiento del elemento a flex */
    transition: transform 0.5s ease; /* Agrega una transición suave a la propiedad transform */
    padding: 0;
    margin: 0;
}

ul li {
    flex: 0 0 auto;
    margin-right: 16px; /* Agrega un margen derecho para separar las imágenes */
}

  

/* Slider container */
.slider-container {
  position: relative;
  height: 100%
}

/* dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

/* Arrows */
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}

div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}