.bodyTest{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(60, 25, 94, 0.623), rgba(3, 2, 20, 0.747)),
  url(assets/banner.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.header-test{
  background: linear-gradient(rgba(41, 15, 66, 0.623), rgba(3, 2, 20, 0.747));
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.header-test h1,p{
  text-align: center;
  color: white;
}

.questions{
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(41, 15, 66), rgb(3, 2, 20));
  padding: 2rem;
}

.error{
  background-color: red;
  margin: 12px;
  padding: 0 20px;
  border: 2px solid black;
}

.question-header{
  width: 700px;
  background-color: white;
  margin:1rem;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.p-header{
  width: 200%;

}
.question-header p{
  color: black;
  text-align: center;
  font-size: 20px;
}
.p-id{
  border-right: 2px solid black;
  padding: 0;
  width: 50px;
  height: 100%;
  margin: 0;
}
.p-id p{
  font-size: 25px;
}

.answers{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  height: 20px;
  width: 100%;
  position: relative;
}

label{
  color: black;
  cursor: pointer;
}

/* Estilos CSS */
.green-background {
  background-color: lightgreen;
}

.red-background {
  background-color: red;
}

.radiobutton{
  border-left: 1px solid black;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

.radiobutton input[type="radio"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.radiobutton label {
  position: relative;
  z-index: 1; /* Asegura que el label esté en la parte superior para ser visible */
  font-size: 25px;
}

/* Estilos para resaltar el label cuando se selecciona */
.radiobutton input[type="radio"]:checked + label {
  font-weight: bold; /* Opcional: resaltar el label seleccionado */
}

.updateAnswers{
  border-radius: 1rem;
  width: 50%;
  height: 3rem;
  font-size: 20px;
  margin: 10px;
}

.enabled{
  cursor: pointer;
  color: white;
}
.enabled:hover{
  background: rgba(68, 119, 185, 0.7);
  transition: 1s;
}
